@import "../config/mixins.scss";
@import "../config/variables.scss";

@import "../config/config.scss";
.main-header {
  // border: 1px solid red;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  height: 75px;
  margin-bottom: 2.5rem;
  box-shadow: 4px 4px 3px -2px rgb(206, 205, 205), 0 0 10px #adad;
  width: 100%;
  padding: 0 10vw;
  color: var(--clr-textcolor-200);
  z-index: 10;
  transition: 0.8s ease-in-out;
  .logo {
    a {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 2.25rem;
      box-shadow: 4px 4px 3px -2px rgb(206, 205, 205),
        0 0 10px rgba(0, 0, 0, 0.1);
      img {
        height: 100%;
        width: 100%;
        border-radius: inherit;
        border: 0;
        outline: 0;
      }
    }
  }
  label[for="searchControl"] {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;

      font-size: 30px;
      &:hover {
        color: goldenrod;
      }
    }
  }
  input[name="searchControl"] {
    display: none;
    &:checked ~ #inputHolder {
      transition: display 1s ease-in-out;

      display: flex;
      z-index: 10;
      border-radius: 5px;
    }
  }
  #inputHolder {
    width: 40%;
    height: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid var(--clr-textcolor-200);
    border-radius: 30px;
    &:hover {
      transition: border 0.3s;
      border: 0;
      box-shadow: 4px 4px 3px -2px rgb(206, 205, 205),
        0 0 10px rgba(0, 0, 0, 0.1);
    }
    @media screen and (max-width: 768px) {
      width: 70%;
    }
    @media screen and (max-width: 600px) {
      transition: display 1s ease-in-out;
      display: none;

      z-index: 0;
      position: fixed;
      top: 80px;
      width: 100%;
      left: 0;
    }

    i {
      width: 10%;
      height: fit-content;
      font-size: 25px;
      color: rgb(133, 129, 129);
      align-self: center;
      margin: auto;
      text-justify: ce;
      justify-self: center;
      text-align: center;
    }

    input {
      padding-left: 10px;
      height: 100%;
      width: 80%;
      border-radius: inherit;
      outline: 0;
      border: 0;
      background-color: white;
      font-size: medium;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
  }
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;

    .nav-link {
      display: flex;
      align-items: center;

      height: 3rem;
      a {
        display: unset;
        margin-right: 0.3rem;
        padding: 1rem 1rem;

        span {
          // padding: 0 0;
          margin: 1rem 0.4rem;
        }

        .signInBtn {
          width: fit-content;
          height: fit-content;
          padding: 0.5rem 4rem;
          background-color: goldenrod;
          border-radius: 5px;
          color: #fff;
          box-shadow: 4px 4px 3px -2px rgb(206, 205, 205),
            0 0 10px rgba(0, 0, 0, 0.1);
          &:hover {
            background-color: hsl(43, 60%, 71%);
          }
        }
        .signUpBtn {
          width: fit-content;
          height: fit-content;
          padding: 0.5rem 4rem;
          background-color: rgb(225, 206, 60);
          border-radius: 5px;
          box-shadow: 4px 4px 3px -2px rgb(206, 205, 205),
            0 0 10px rgba(0, 0, 0, 0.1);
          color: #fff;
        }
      }

      a::after {
        content: "";
        display: block;
        background-color: var(--clr-primary-100);
        margin-top: 0.4rem;
        width: 0;
        height: 2px;
        transition: 350ms;
        display: flex;
      }
      a:hover::after {
        width: 100%;
        align-self: center;
        align-self: flex-end;
      }
    }
    .active {
      transition: all 0.7s ease-in-out;
      background-color: var(--clr-primary-100);
      color: white;
      border-radius: 9px;
    }
    .SignInbtn {
      @include ctaButton;
    }
  }
  .menu-icon {
    position: relative;
    padding: 20px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
    &__line {
      display: block;
      position: relative;
      background: var(--clr-primary-100);
      height: 3px;
      width: 26px;
      border-radius: 4px;
      transition: background 0.5s ease;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        background: var(--clr-primary-100);
        border-radius: 4px;
        width: 100%;
        transition: background 0.5s ease;
      }
      &::before {
        transform: translateY(-7px);
        width: 18px;
      }
      &::after {
        transform: translateY(7px);
        width: 20px;
      }
    }
  }
  .menu-btn {
    display: none;
  }
  &.scrolled {
    height: 85px;

    .menu-icon {
      &__line,
      &__line::after,
      &__line::before {
        background: rgb(217, 165, 32);
      }
    }
  }
}

.signInBtn {
  @include ctaButton;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .main-header {
    .menu-icon {
      display: block;
      &__line {
        animation: closeMid 0.8s backwards;
        animation-direction: reverse;
        &::before {
          animation: closeTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closeDown 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    @keyframes closeMid {
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(45deg);
      }
    }
    @keyframes closeTop {
      0% {
        transform: translateY(-5px) rotate(0deg);
      }
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(90deg);
      }
    }
    @keyframes closeDown {
      0% {
        transform: translateY(8px) rotate(0deg);
      }
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(90deg);
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      opacity: 0;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      background-color: var(--clr-textcolor-100);
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(0px at top right);
      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
        justify-content: center;
        a {
          display: block;
          padding: 0.2rem 0;
        }
        a:hover {
          background: var(--clr-primary-100);
          color: #fff;
        }
      }
    }
  }
  .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);

    .nav-link {
      opacity: 1;
      transform: translateX(0);
      color: #fff;
      transition: opacity 0.4s ease-in-out,
        transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(1) {
        transition-delay: 0.7s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.75s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.8s;
      }
    }

    .SignInbtn {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.8s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      width: fit-content;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
    @keyframes pulse {
      from {
        box-shadow: 0 0 0 0px rgba(145, 138, 7, 0.594);
        background: rgba(255, 255, 255, 0.6);
      }
      to {
        box-shadow: 0 0 0 1000px rgba(202, 42, 87, 0);
      }
    }
    .menu-icon__line {
      background-color: #fff;
      animation: openMid 0.8s forwards;

      &::after {
        background-color: #fff;
        animation: openDown 0.8s forwards;
      }
      &::before {
        background-color: #fff;
        animation: openTop 0.8s forwards;
      }
    }

    @keyframes openMid {
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(45deg);
      }
    }

    @keyframes openDown {
      0% {
        transform: translateY(8px) rotate(0deg);
      }
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(180deg);
      }
    }
    @keyframes openTop {
      0% {
        transform: translateY(-5px) rotate(0deg);
      }
      50% {
        transform: translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateY(0px) rotate(90deg);
      }
    }
  }
}
