@import "../config/mixins.scss";
@import "../config/variables.scss";
@import "../config/config.scss";

.paginationIndexWrapper {
  margin: auto;
}
.paginationIndex {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 15px;
  li {
    @include boxView;
    width: fit-content;
    &:hover {
      padding: 1.5rem;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(235, 183, 19, 0.77);
      -moz-box-shadow: 0px 0px 10px 0px rgba(235, 183, 19, 0.77);
      box-shadow: 0px 0px 10px 0px rgba(235, 183, 19, 0.77);
    }
    .currentActive {
      padding: 1.5rem;
    }
  }
}
